
CSE3PAX/.vs/CSE3PAX/config/applicationhost.config
CSE3PAX/.vs/CSE3PAX/config/applicationhost.config
CSE3PAX/.vs/CSE3PAX/DesignTimeBuild/.dtbcache.v2
CSE3PAX/.vs/CSE3PAX/FileContentIndex/d4fcda1f-fa65-48ad-ada9-e3c43408b50d.vsidx
CSE3PAX/.vs/CSE3PAX/FileContentIndex/e7e70b5b-5e03-45c2-8147-a751498dc0e2.vsidx
CSE3PAX/.vs/CSE3PAX/FileContentIndex/read.lock
CSE3PAX/.vs/CSE3PAX/config/applicationhost.config
CSE3PAX/.vs/CSE3PAX/DesignTimeBuild/.dtbcache.v2
CSE3PAX/.vs/CSE3PAX/FileContentIndex/e7e70b5b-5e03-45c2-8147-a751498dc0e2.vsidx
CSE3PAX/.vs/CSE3PAX/v17/.futdcache.v2
CSE3PAX/.vs/CSE3PAX/v17/.suo
CSE3PAX/.vs/ProjectEvaluation/cse3pax.metadata.v6.1
CSE3PAX/.vs/ProjectEvaluation/cse3pax.projects.v6.1
CSE3PAX/bin/Debug/net7.0/CSE3PAX.dll
CSE3PAX/bin/Debug/net7.0/CSE3PAX.exe
CSE3PAX/bin/Debug/net7.0/CSE3PAX.pdb
CSE3PAX/bin/Debug/net7.0/CSE3PAX.staticwebassets.runtime.json
CSE3PAX/obj/CSE3PAX.csproj.nuget.dgspec.json
CSE3PAX/obj/CSE3PAX.csproj.nuget.g.props
CSE3PAX/obj/Debug/net7.0/apphost.exe
CSE3PAX/obj/Debug/net7.0/CSE3PAX.AssemblyInfo.cs
CSE3PAX/obj/Debug/net7.0/CSE3PAX.AssemblyInfoInputs.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.assets.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.csproj.AssemblyReference.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.csproj.CoreCompileInputs.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/CSE3PAX.GeneratedMSBuildEditorConfig.editorconfig
CSE3PAX/obj/Debug/net7.0/CSE3PAX.genruntimeconfig.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.pdb
CSE3PAX/obj/Debug/net7.0/CSE3PAX.RazorAssemblyInfo.cache
CSE3PAX/obj/Debug/net7.0/project.razor.vs.json
CSE3PAX/obj/Debug/net7.0/ref/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/refint/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/staticwebassets.build.json
CSE3PAX/obj/Debug/net7.0/staticwebassets.development.json
CSE3PAX/obj/Debug/net7.0/staticwebassets.pack.json
CSE3PAX/obj/project.assets.json
CSE3PAX/obj/project.nuget.cache
CSE3PAX/.vs/CSE3PAX/FileContentIndex/18536e39-971a-4e0d-951e-cacf704b4df5.vsidx
CSE3PAX/.vs/CSE3PAX/FileContentIndex/2811911a-b9ae-4334-a624-768b8d1669fc.vsidx
CSE3PAX/.vs/CSE3PAX/FileContentIndex/4638ca9e-c73e-4ad1-a6df-d81fcb84fda1.vsidx
CSE3PAX/.vs/CSE3PAX/FileContentIndex/545eb621-f85f-4824-a6a1-7faa31b6071b.vsidx
CSE3PAX/.vs/CSE3PAX/FileContentIndex/951f9639-fe74-437b-ad94-b679195b6c66.vsidx
CSE3PAX/.vs/CSE3PAX/FileContentIndex/bc079f2f-619c-44a9-b462-32fdb24093a2.vsidx
CSE3PAX/obj/CSE3PAX.csproj.nuget.dgspec.json
CSE3PAX/obj/CSE3PAX.csproj.nuget.g.props
CSE3PAX/obj/Debug/net7.0/CSE3PAX.assets.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.csproj.AssemblyReference.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.GeneratedMSBuildEditorConfig.editorconfig
CSE3PAX/obj/project.assets.json
CSE3PAX/obj/project.nuget.cache
*.config
*.v2
CSE3PAX/.vs/CSE3PAX/v17/.futdcache.v2
CSE3PAX/.vs/CSE3PAX/v17/.suo
CSE3PAX/.vs/CSE3PAX/config/applicationhost.config
CSE3PAX/.vs/CSE3PAX/DesignTimeBuild/.dtbcache.v2
CSE3PAX/.vs/CSE3PAX/v17/.futdcache.v2
CSE3PAX/.vs/CSE3PAX/v17/.suo
CSE3PAX/bin/Debug/net7.0/CSE3PAX.dll
CSE3PAX/bin/Debug/net7.0/CSE3PAX.exe
CSE3PAX/bin/Debug/net7.0/CSE3PAX.pdb
CSE3PAX/bin/Debug/net7.0/CSE3PAX.staticwebassets.runtime.json
CSE3PAX/obj/CSE3PAX.csproj.nuget.dgspec.json
CSE3PAX/obj/CSE3PAX.csproj.nuget.g.props
CSE3PAX/obj/Debug/net7.0/apphost.exe
CSE3PAX/obj/Debug/net7.0/CSE3PAX.AssemblyInfo.cs
CSE3PAX/obj/Debug/net7.0/CSE3PAX.AssemblyInfoInputs.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.assets.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.csproj.AssemblyReference.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.csproj.CoreCompileInputs.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/CSE3PAX.GeneratedMSBuildEditorConfig.editorconfig
CSE3PAX/obj/Debug/net7.0/CSE3PAX.genruntimeconfig.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.pdb
CSE3PAX/obj/Debug/net7.0/CSE3PAX.RazorAssemblyInfo.cache
CSE3PAX/obj/Debug/net7.0/ref/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/refint/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/staticwebassets.build.json
CSE3PAX/obj/Debug/net7.0/staticwebassets.development.json
CSE3PAX/obj/Debug/net7.0/staticwebassets.pack.json
CSE3PAX/obj/Debug/net7.0/staticwebassets/msbuild.CSE3PAX.Microsoft.AspNetCore.StaticWebAssets.props
CSE3PAX/obj/project.assets.json
CSE3PAX/obj/project.nuget.cache
CSE3PAX/.vs/CSE3PAX/DesignTimeBuild/.dtbcache.v2
CSE3PAX/.vs/CSE3PAX/v17/.futdcache.v2
CSE3PAX/.vs/CSE3PAX/v17/.suo
CSE3PAX/.vs/ProjectEvaluation/cse3pax.metadata.v7.bin
CSE3PAX/.vs/ProjectEvaluation/cse3pax.projects.v7.bin
CSE3PAX/bin/Debug/net7.0/CSE3PAX.dll
CSE3PAX/bin/Debug/net7.0/CSE3PAX.exe
CSE3PAX/bin/Debug/net7.0/CSE3PAX.pdb
CSE3PAX/.vs/CSE3PAX/DesignTimeBuild/.dtbcache.v2
CSE3PAX/.vs/CSE3PAX/FileContentIndex/69c2957c-dc05-4026-af71-b6751fc823b4.vsidx
CSE3PAX/.vs/CSE3PAX/FileContentIndex/bf8d6793-e79f-41ec-a942-ac6deb694e77.vsidx
CSE3PAX/.vs/CSE3PAX/v17/.suo
CSE3PAX/.vs/CSE3PAX/v17/DocumentLayout.json
CSE3PAX/bin/Debug/net7.0/CSE3PAX.dll
CSE3PAX/bin/Debug/net7.0/CSE3PAX.exe
CSE3PAX/bin/Debug/net7.0/CSE3PAX.pdb
CSE3PAX/obj/Debug/net7.0/apphost.exe
CSE3PAX/obj/Debug/net7.0/CSE3PAX.AssemblyInfo.cs
CSE3PAX/obj/Debug/net7.0/CSE3PAX.AssemblyInfoInputs.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/CSE3PAX.pdb
CSE3PAX/obj/Debug/net7.0/CSE3PAX.sourcelink.json
CSE3PAX/obj/Debug/net7.0/ref/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/refint/CSE3PAX.dll
CSE3PAX/.vs/CSE3PAX/DesignTimeBuild/.dtbcache.v2
CSE3PAX/.vs/CSE3PAX/v17/.futdcache.v2
CSE3PAX/.vs/CSE3PAX/v17/.suo
CSE3PAX/bin/Debug/net7.0/CSE3PAX.dll
CSE3PAX/.vs/CSE3PAX/DesignTimeBuild/.dtbcache.v2
CSE3PAX/.vs/CSE3PAX/v17/.futdcache.v2
CSE3PAX/.vs/CSE3PAX/v17/.suo
CSE3PAX/bin/Debug/net7.0/CSE3PAX.dll
CSE3PAX/bin/Debug/net7.0/CSE3PAX.pdb
CSE3PAX/bin/Debug/net7.0/CSE3PAX.staticwebassets.runtime.json
CSE3PAX/obj/CSE3PAX.csproj.nuget.dgspec.json
CSE3PAX/obj/CSE3PAX.csproj.nuget.g.props
CSE3PAX/obj/Debug/net7.0/apphost.exe
CSE3PAX/obj/Debug/net7.0/CSE3PAX.AssemblyInfo.cs
CSE3PAX/obj/Debug/net7.0/CSE3PAX.AssemblyInfoInputs.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.assets.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.csproj.AssemblyReference.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.csproj.CoreCompileInputs.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/CSE3PAX.GeneratedMSBuildEditorConfig.editorconfig
CSE3PAX/obj/Debug/net7.0/CSE3PAX.genruntimeconfig.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.pdb
CSE3PAX/obj/Debug/net7.0/CSE3PAX.RazorAssemblyInfo.cache
CSE3PAX/obj/Debug/net7.0/ref/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/refint/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/staticwebassets.build.json
CSE3PAX/obj/Debug/net7.0/staticwebassets.development.json
CSE3PAX/obj/Debug/net7.0/staticwebassets.pack.json
CSE3PAX/obj/project.assets.json
CSE3PAX/obj/project.nuget.cache
CSE3PAX/.vs/CSE3PAX/v17/.suo
CSE3PAX/bin/Debug/net7.0/CSE3PAX.dll
CSE3PAX/bin/Debug/net7.0/CSE3PAX.pdb
CSE3PAX/obj/Debug/net7.0/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/CSE3PAX.pdb
CSE3PAX/obj/Debug/net7.0/ref/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/refint/CSE3PAX.dll
CSE3PAX/.vs/CSE3PAX/DesignTimeBuild/.dtbcache.v2
CSE3PAX/.vs/CSE3PAX/v17/.futdcache.v2
CSE3PAX/.vs/CSE3PAX/v17/.suo
CSE3PAX/bin/Debug/net7.0/CSE3PAX.dll
CSE3PAX/bin/Debug/net7.0/CSE3PAX.pdb
CSE3PAX/obj/Debug/net7.0/CSE3PAX.csproj.CoreCompileInputs.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/CSE3PAX.GeneratedMSBuildEditorConfig.editorconfig
CSE3PAX/obj/Debug/net7.0/CSE3PAX.pdb
CSE3PAX/obj/Debug/net7.0/ref/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/refint/CSE3PAX.dll
CSE3PAX/.vs/CSE3PAX/v17/.suo
CSE3PAX/bin/Debug/net7.0/CSE3PAX.dll
CSE3PAX/bin/Debug/net7.0/CSE3PAX.pdb
CSE3PAX/obj/Debug/net7.0/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/CSE3PAX.pdb
CSE3PAX/obj/Debug/net7.0/ref/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/refint/CSE3PAX.dll
CSE3PAX/.vs/CSE3PAX/DesignTimeBuild/.dtbcache.v2
CSE3PAX/.vs/CSE3PAX/v17/.futdcache.v2
CSE3PAX/.vs/CSE3PAX/v17/.suo
CSE3PAX/bin/Debug/net7.0/CSE3PAX.dll
CSE3PAX/bin/Debug/net7.0/CSE3PAX.pdb
CSE3PAX/obj/Debug/net7.0/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/CSE3PAX.pdb
CSE3PAX/obj/Debug/net7.0/ref/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/refint/CSE3PAX.dll
CSE3PAX/.vs/CSE3PAX/config/applicationhost.config
CSE3PAX/.vs/CSE3PAX/config/applicationhost.config
CSE3PAX/.vs/CSE3PAX/DesignTimeBuild/.dtbcache.v2
CSE3PAX/.vs/CSE3PAX/FileContentIndex/15864a82-c90a-4a5a-b262-e796a38cbbd2.vsidx
CSE3PAX/.vs/CSE3PAX/FileContentIndex/19d6f889-7c55-436b-86ca-7fda3b0a0a79.vsidx
CSE3PAX/.vs/CSE3PAX/FileContentIndex/4130b1f3-53e5-4bed-a868-501507e8ec84.vsidx
CSE3PAX/.vs/CSE3PAX/FileContentIndex/5242c0bb-832f-47ef-86e0-db5ffe1d1156.vsidx
CSE3PAX/.vs/CSE3PAX/FileContentIndex/85eeb29a-898f-48d7-9b5d-a63a1bdf1055.vsidx
CSE3PAX/.vs/CSE3PAX/FileContentIndex/9bdd407f-7f26-45e9-8f6a-e216df2c5d33.vsidx
CSE3PAX/.vs/CSE3PAX/FileContentIndex/a77fd7b0-ae45-412e-87c4-d068f420d333.vsidx
CSE3PAX/.vs/CSE3PAX/FileContentIndex/a8c48725-f467-4786-bacb-71851ab72019.vsidx
CSE3PAX/.vs/CSE3PAX/FileContentIndex/f7a675ef-4086-4410-ab24-9fd9d4bf60ac.vsidx
CSE3PAX/.vs/CSE3PAX/v17/.futdcache.v2
CSE3PAX/.vs/CSE3PAX/v17/.suo
CSE3PAX/bin/Debug/net7.0/CSE3PAX.dll
CSE3PAX/bin/Debug/net7.0/CSE3PAX.exe
CSE3PAX/bin/Debug/net7.0/CSE3PAX.pdb
CSE3PAX/bin/Debug/net7.0/CSE3PAX.staticwebassets.runtime.json
CSE3PAX/HelpClasses/ListSubjectInstances.cs
CSE3PAX/HelpClasses/SubjectsForCreateSubjectInstance.cs
CSE3PAX/obj/CSE3PAX.csproj.nuget.dgspec.json
CSE3PAX/obj/CSE3PAX.csproj.nuget.g.props
CSE3PAX/obj/Debug/net7.0/apphost.exe
CSE3PAX/obj/Debug/net7.0/CSE3PAX.AssemblyInfo.cs
CSE3PAX/obj/Debug/net7.0/CSE3PAX.AssemblyInfoInputs.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.assets.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.csproj.AssemblyReference.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.csproj.CoreCompileInputs.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/CSE3PAX.GeneratedMSBuildEditorConfig.editorconfig
CSE3PAX/obj/Debug/net7.0/CSE3PAX.genruntimeconfig.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.pdb
CSE3PAX/obj/Debug/net7.0/CSE3PAX.RazorAssemblyInfo.cache
CSE3PAX/obj/Debug/net7.0/ref/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/refint/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/staticwebassets.build.json
CSE3PAX/obj/Debug/net7.0/staticwebassets.development.json
CSE3PAX/obj/Debug/net7.0/staticwebassets.pack.json
CSE3PAX/obj/project.assets.json
CSE3PAX/obj/project.nuget.cache
