
CSE3PAX/.vs/CSE3PAX/config/applicationhost.config
CSE3PAX/.vs/CSE3PAX/config/applicationhost.config
CSE3PAX/.vs/CSE3PAX/DesignTimeBuild/.dtbcache.v2
CSE3PAX/.vs/CSE3PAX/FileContentIndex/d4fcda1f-fa65-48ad-ada9-e3c43408b50d.vsidx
CSE3PAX/.vs/CSE3PAX/FileContentIndex/e7e70b5b-5e03-45c2-8147-a751498dc0e2.vsidx
CSE3PAX/.vs/CSE3PAX/FileContentIndex/read.lock
CSE3PAX/.vs/CSE3PAX/config/applicationhost.config
CSE3PAX/.vs/CSE3PAX/DesignTimeBuild/.dtbcache.v2
CSE3PAX/.vs/CSE3PAX/FileContentIndex/e7e70b5b-5e03-45c2-8147-a751498dc0e2.vsidx
CSE3PAX/.vs/CSE3PAX/v17/.futdcache.v2
CSE3PAX/.vs/CSE3PAX/v17/.suo
CSE3PAX/.vs/ProjectEvaluation/cse3pax.metadata.v6.1
CSE3PAX/.vs/ProjectEvaluation/cse3pax.projects.v6.1
CSE3PAX/bin/Debug/net7.0/CSE3PAX.dll
CSE3PAX/bin/Debug/net7.0/CSE3PAX.exe
CSE3PAX/bin/Debug/net7.0/CSE3PAX.pdb
CSE3PAX/bin/Debug/net7.0/CSE3PAX.staticwebassets.runtime.json
CSE3PAX/obj/CSE3PAX.csproj.nuget.dgspec.json
CSE3PAX/obj/CSE3PAX.csproj.nuget.g.props
CSE3PAX/obj/Debug/net7.0/apphost.exe
CSE3PAX/obj/Debug/net7.0/CSE3PAX.AssemblyInfo.cs
CSE3PAX/obj/Debug/net7.0/CSE3PAX.AssemblyInfoInputs.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.assets.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.csproj.AssemblyReference.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.csproj.CoreCompileInputs.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/CSE3PAX.GeneratedMSBuildEditorConfig.editorconfig
CSE3PAX/obj/Debug/net7.0/CSE3PAX.genruntimeconfig.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.pdb
CSE3PAX/obj/Debug/net7.0/CSE3PAX.RazorAssemblyInfo.cache
CSE3PAX/obj/Debug/net7.0/project.razor.vs.json
CSE3PAX/obj/Debug/net7.0/ref/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/refint/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/staticwebassets.build.json
CSE3PAX/obj/Debug/net7.0/staticwebassets.development.json
CSE3PAX/obj/Debug/net7.0/staticwebassets.pack.json
CSE3PAX/obj/project.assets.json
CSE3PAX/obj/project.nuget.cache
CSE3PAX/.vs/CSE3PAX/FileContentIndex/18536e39-971a-4e0d-951e-cacf704b4df5.vsidx
CSE3PAX/.vs/CSE3PAX/FileContentIndex/2811911a-b9ae-4334-a624-768b8d1669fc.vsidx
CSE3PAX/.vs/CSE3PAX/FileContentIndex/4638ca9e-c73e-4ad1-a6df-d81fcb84fda1.vsidx
CSE3PAX/.vs/CSE3PAX/FileContentIndex/545eb621-f85f-4824-a6a1-7faa31b6071b.vsidx
CSE3PAX/.vs/CSE3PAX/FileContentIndex/951f9639-fe74-437b-ad94-b679195b6c66.vsidx
CSE3PAX/.vs/CSE3PAX/FileContentIndex/bc079f2f-619c-44a9-b462-32fdb24093a2.vsidx
CSE3PAX/obj/CSE3PAX.csproj.nuget.dgspec.json
CSE3PAX/obj/CSE3PAX.csproj.nuget.g.props
CSE3PAX/obj/Debug/net7.0/CSE3PAX.assets.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.csproj.AssemblyReference.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.GeneratedMSBuildEditorConfig.editorconfig
CSE3PAX/obj/project.assets.json
CSE3PAX/obj/project.nuget.cache
*.config
*.v2
CSE3PAX/.vs/CSE3PAX/v17/.futdcache.v2
CSE3PAX/.vs/CSE3PAX/v17/.suo
CSE3PAX/.vs/CSE3PAX/config/applicationhost.config
CSE3PAX/.vs/CSE3PAX/DesignTimeBuild/.dtbcache.v2
CSE3PAX/.vs/CSE3PAX/v17/.futdcache.v2
CSE3PAX/.vs/CSE3PAX/v17/.suo
CSE3PAX/bin/Debug/net7.0/CSE3PAX.dll
CSE3PAX/bin/Debug/net7.0/CSE3PAX.exe
CSE3PAX/bin/Debug/net7.0/CSE3PAX.pdb
CSE3PAX/bin/Debug/net7.0/CSE3PAX.staticwebassets.runtime.json
CSE3PAX/obj/CSE3PAX.csproj.nuget.dgspec.json
CSE3PAX/obj/CSE3PAX.csproj.nuget.g.props
CSE3PAX/obj/Debug/net7.0/apphost.exe
CSE3PAX/obj/Debug/net7.0/CSE3PAX.AssemblyInfo.cs
CSE3PAX/obj/Debug/net7.0/CSE3PAX.AssemblyInfoInputs.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.assets.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.csproj.AssemblyReference.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.csproj.CoreCompileInputs.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/CSE3PAX.GeneratedMSBuildEditorConfig.editorconfig
CSE3PAX/obj/Debug/net7.0/CSE3PAX.genruntimeconfig.cache
CSE3PAX/obj/Debug/net7.0/CSE3PAX.pdb
CSE3PAX/obj/Debug/net7.0/CSE3PAX.RazorAssemblyInfo.cache
CSE3PAX/obj/Debug/net7.0/ref/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/refint/CSE3PAX.dll
CSE3PAX/obj/Debug/net7.0/staticwebassets.build.json
CSE3PAX/obj/Debug/net7.0/staticwebassets.development.json
CSE3PAX/obj/Debug/net7.0/staticwebassets.pack.json
CSE3PAX/obj/Debug/net7.0/staticwebassets/msbuild.CSE3PAX.Microsoft.AspNetCore.StaticWebAssets.props
CSE3PAX/obj/project.assets.json
CSE3PAX/obj/project.nuget.cache
