/*--------------------- Variables ---------------------*/
:root {
    --sitebackground: #F6F3F3; /* Snowflake - page colour background */
    --textColourGry: #706A6C; /* Bauhaus - dark grey text colour (link/admin heading)*/
    --textColourSmk: #AEAEAE; /*Smoke screen - light text colour (search box)*/
}

html {
    font-size: 14px;
    min-height: 100%;
    position: relative;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    background: var(--sitebackground);
    margin-bottom: 60px;
}

<<<<<<< Updated upstream
body {
    background-color: #F6F3F3;
    margin-bottom: 60px;
}
=======

>>>>>>> Stashed changes
