@page
@model CSE3PAX.Pages.Admin.CreateSubjectModel
@{
    if (!string.IsNullOrEmpty(Model.SuccessMessage))
    {
        <div class="alert alert-success" role="alert">
            @Model.SuccessMessage
        </div>
    }
    if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @Model.ErrorMessage
        </div>
    }
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <!-- Create Subject Title -->
            <h1 class="my-5 admin-txt text-center"><i class="bi bi-book"></i> Create Subject</h1>
            
            <!-- Create User Form -->
            <form method="post">
                
                    <!-- Subject Code -->
                    <div class="mb-3">
                        <label class="form-label" asp-for="SubjectCode">Subject Code</label>
                        <input class="form-control" asp-for="SubjectCode" />
                    </div>
                    <!-- Subject Name -->
                    <div class="mb-3">
                        <label class="form-label" asp-for="SubjectName">Subject Name</label>
                        <input class="form-control" asp-for="SubjectName" />
                    </div>
                    <!-- Subject Classification -->
                    <div class="mb-3">
                        <label class="form-label" asp-for="SubjectClassification">Subject Classification</label>
                        <input class="form-control" asp-for="SubjectClassification" />
                    </div>
                    <!-- Year Level -->
                    <div class="mb-3">
                        <label class="form-label" asp-for="YearLevel">Year Level</label>
                        <input class="form-control" asp-for="YearLevel" />
                    </div>
                
                   
                    <!-- Button container -->
                    <div class="d-flex justify-content-center p-3 flex-wrap">
                        <!-- Save / Cancel Buttons -->
                        <button type="submit" class="btn btn-primary mx-5 box-shw my-2" style="width:130px;"><i class="bi bi-save2 me-2"></i>Submit</button>
                        <button type="button" class="btn btn-outline-danger mx-5 box-shw my-2" onclick="goBack()" style="width:130px"><i class="bi bi-x-circle-fill me-3"></i>Cancel</button>
                    </div>

                    @* <button type="submit" class="btn btn-primary" style="width:250px;">Save</button>
                    <a asp-page="/Admin/Subjects" class="btn btn-outline-danger box-shw" onclick="goBack()" style="width:250px">Cancel</a> *@
            </form>
        </div>
    </div>
</div>

<!-- JS Scripts -->
<script src="~/js/site.js"></script>


