@page
@model CSE3PAX.Pages.Admin.EditSubjectModel
@{
}
<form method="post">
<div class="form-group">
        <label class="form-label" asp-for="SubjectCode">Subject Code</label>
        <input class="form-control" asp-for="SubjectCode" readonly />
    </div>
    <div class="form-group">
<label class="form-label" asp-for="SubjectName">Subject Name</label>
        <input class="form-control" asp-for="SubjectName" />
       </div>
<div class="form-group">
<label class="form-label" asp-for="SubjectClassification">Subject Classification</label>
        <input class="form-control" asp-for="SubjectClassification" />
       </div>

<div class="form-group">
<label class="form-label" asp-for="YearLevel">Year Level</label>
        <input class="form-control" asp-for="YearLevel" />
       </div>
</div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-secondary" asp-page="/Admin/Subjects">Cancel</a>
</form>