@page
@model CSE3PAX.Pages.Admin.ReadUserModel
@{
}
<!-- Link to create user page -->
<a href="/Admin/CreateUser" class="btn btn-primary mb-3">Create User</a>

@if (Model.ListUsers != null && Model.ListUsers.Count > 0)
{
    <div class="table-responsive">
        <table class="table table-hover table-bordered border-2">
            <thead class="thead-light">
                <tr class="table-primary">
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role</th>
                    <th>Edit</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.ListUsers)
                {
                    <tr>
                        <td>@user.Email</td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Role</td>
                        <td><a href="/Admin/EditUser?email=@user.Email" class="btn btn-outline-primary btn-sm">Edit</a>
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-info" role="alert">
        <p>No users found.</p>
    </div>
}