@page
@model CSE3PAX.Pages.Admin.StaffManagementModel
@{
}

<h2>Staff Management</h2>


<body>

    <p>list of all staff. edit and delete next to each user</p>
    <p>Add button linked to michaels create user page</p>
    
</body>