@page
@model CSE3PAX.Pages.Admin.SubjectManagementModel
@{
}
<h2>Subject Management</h2>

<p>List of subjects. edit and delete</p>
<p>create subjects</p>

<p>List of subjects instances. edit and delete</p>
<p>create subjects instances</p>