@page
@model CSE3PAX.Pages.AddLecturerModel
@{

}
<h2>Contact Form</h2>
<form method ="post">
    <lablel>FirstName:</lablel>
    <input name="firstname" />
    <lablel>LastName:</lablel>
    <input name="lastname" />
    <lablel>Email:</lablel>
    <input name="email" />
    <lablel>Password:</lablel>
    <input name="password" />
    <lablel>ConcurrentLoadCapacity:</lablel>
    <input name="concurrentloadcapacity" />
    <lablel>ExpertiseFeild01:</lablel>
    <input name="expertisefeild01" />

    <button type="submit"></button>
</form>
