/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

/* Interface heading */
.interface-heading {
    color: #004AAD;
    padding: 10px;
}

/* Side Nav Icon settings */
.list-group-item i {
    padding-right: 10px;
}

/* Add padding between containers */
div .side-profile-container {
    margin: 30px 0;
}

/* Remove link borders */
.list-group a{
    border: none;
}

/* Add padding to links */
.list-group {
    padding-left: 10px;
    padding-right: 10px;
}

/* CSS for sidebar height */
.p-0 {
    min-height: 100vh; /* Ensure the container has at least the height of the viewport */
    display: flex;
    flex-direction: column;
}

/* Main content area */
.col-md-9 {
    flex-grow: 1; /* Allow the main content area to grow and fill the remaining space */
}

.list-group-item-action.active {
    background-color: #007bff;
    color: #fff;
}