@page
@model CSE3PAX.Pages.Shared.SettingsModel
@{
}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/css/site.css" rel="stylesheet" />


<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col mx-auto">
            
            <!-- Settings Title -->
            <h1 class="mb-5 admin-txt text-center"><i class="bi bi-gear admin-text"></i> Settings</h1>
            <div class="my-4">
                <!-- Security Settings Section -->
                <div class="mb-5 pb-5 border-bottom border-gray">
                    <h5 class="mb-0 mt-5">Security Settings</h5> 
                    <p>Configure security-related options.</p>
                    <div class="list-group mb-5 shadow">
                        <!-- Change Password Option -->
                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col">
                                    <strong class="mb-2">Change Password</strong>
                                    <p>Update your password.</p>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-primary">Change</button>
                                </div>
                            </div>
                        </div>
                        <!-- Account Recovery Option -->
                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col">
                                    <strong class="mb-2">Account Recovery</strong>
                                    <p>Add/Update email address and phone number for account recovery.</p>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-primary">Manage</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Save Changes Button -->
                <button class="btn btn-primary" id="saveBtn">Save Changes</button>
            </div>
        </div>
    </div>
</div>